# Compiled object files
*.o
src/*.o

# Compiled binary files
*.out
*.exe

# Backup files
*~

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# CMake build folders
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Other
*.tmp
*.bak
webserv
.env
uploads/